In [110]:
import nlpaug.augmenter.char as nac
import nlpaug.augmenter.word as naw
import nlpaug.augmenter.sentence as nas
import nlpaug.flow as nafc
from nlpaug.util import Action
import pandas as pd

In [111]:
# def context_augment(datapath, output_name):
#     df = pd.read_csv(datapath, sep='\t', names=['label', 'text0', 'text1'] )
#     text0 = df.text0.tolist()
#     text1 = aug.augment(text0, n = 1) 
#     df.text1 = text1
#     df.to_csv(output_name, index=False)

# import os
# os.environ["CUDA_VISIBLE_DEVICES"]='2'

# # #Substitute word by contextual word embeddings (BERT, DistilBERT, RoBERTA or XLNet)
# aug = naw.ContextualWordEmbsAug(
#     model_path='distilbert-base-uncased', action="substitute", aug_p = 0.3, device='cuda')

# output_path = 'datasets/augmented/contextual_30/'
# method = '_contextual'

# #search_snipplet
# context_augment('datasets/search_snippets/search_snippets_true_text.csv', output_path + 'search_snippets' + method)

# #stack_overflow
# context_augment('datasets/stackoverflow/stackoverflow_true_text', output_path + 'stackoverflow' + method)

# #biomedical
# context_augment('datasets/biomedical/biomedical_true_text', output_path + 'biomedical' + method)

# #agnews
# context_augment('datasets/agnewsdataraw-8000', output_path + 'agnews' + method)

# #googleS
# context_augment('datasets/S', output_path + 'S' + method)

# #googleT
# context_augment('datasets/T', output_path + 'T' + method)

# #googleTS
# context_augment('datasets/TS', output_path + 'TS' + method)

# #tweet
# context_augment('datasets/tweet_remap_label', output_path + 'tweet' + method)

In [112]:
def make_bleu_pair(fname):
        
    #Make lowest BLEU pair
    df = pd.read_csv('datasets/augmented/paraphraser/all/' + fname, sep = '\t')
    df = df[['label', 'text0', 'text1']]
    df.to_csv('datasets/augmented/paraphraser/lowest_bleu/' + fname, sep = '\t', index=False)
        
    #Make lowest BLEU pair
    df = pd.read_csv('datasets/augmented/paraphraser/all/' + fname, sep = '\t')
    df = df[['label', 'text0', 'text2']]
    df = df.rename(columns={'text2': 'text1'})
    df.to_csv('datasets/augmented/paraphraser/median_bleu/' + fname, sep = '\t', index=False)
    
    #Make highest BLEU pair
    df = pd.read_csv('datasets/augmented/paraphraser/all/' + fname, sep = '\t')
    df = df[['label', 'text0', 'text3']]
    df = df.rename(columns={'text3': 'text1'})
    df.to_csv('datasets/augmented/paraphraser/highest_bleu/' + fname, sep = '\t', index=False)


# make_bleu_pair('search_snippets')
# make_bleu_pair('tweet_remap_label')
# make_bleu_pair('stackoverflow')
# make_bleu_pair('agnewsdataraw-8000')
# make_bleu_pair('biomedical')
# make_bleu_pair('S')
# make_bleu_pair('T')
# make_bleu_pair('TS')

In [16]:
# df = df.rename(columns={'text2': 'text1'})

,label,text0,text1
0,1,bbc news bbc service cut outlined staff,BBC News Sketched Personnel Reduction Service.
1,1,shame info dissemination bbc confirms service cut,Dissemination of the appos; BBC's disgraceful ...
2,1,bbc service cut outlined staff,Downsizing of the BBC.
3,2,looter destroy mummy egyptian museum official ...,"The plunderer destroys the Egyptian mummy, the..."
4,2,thousand egyptian form human chain egypt museu...,Thousand Egyptians forming human chain Egyptia...
...,...,...,...
2467,89,belarus promise adequate response eu sanction ...,Belarus promise an adequate response expressed...
2468,89,expert differ sanction debate,The debate about the sanctions differs from ex...
2469,89,toughens sanction belarus join eu widening san...,The sanctions harden the belarus join the apos...
2470,89,chamber commerce writes iran express oppositio...,The chamber trade writes that Iran expresses i...
2471,89,suu kyi party urge west maintain myanmar sanct...,His Kyi party urges the west to maintain the s...

In [248]:
# path_data = 'datasets/stackoverflow/stackoverflow_true_text'
# path_data = 'datasets/TS'
# path_data = 'datasets/T'
path_data = 'datasets/S'
# path_data = 'datasets/tweet_remap_label'
# path_data = 'datasets/agnewsdataraw-8000'
# path_data = 'datasets/biomedical/biomedical_true_text'
# path_data = 'datasets/search_snippets/search_snippets_true_text.csv'
df = pd.read_csv(path_data, sep = '\t', names=['label', 'text0', 'text1'])
df

       label                                              text0  text1
0          1  american singer taylor swift attends centrepoi...    NaN
1          1  invite centrepoint gala dinner kensin palace l...    NaN
2          1  sweeter fiction hitmaker performed annual wint...    NaN
3          1  taylor swift looked attended charity gala meet...    NaN
4          1  year singer looked elegant white gold embellis...    NaN
...      ...                                                ...    ...
11103    152  sitting enjoy turkey thanksgiving holiday reme...    NaN
11104    152  wild turkey eat remnant harvested corn grand v...    NaN
11105    152  thanksgiving corner thought naturally turn tur...    NaN
11106    152  lansing mich ap wild turkey completed comeback...    NaN
11107    152  turkey cooked eaten united state thanksgiving ...    NaN

[11108 rows x 3 columns]

In [249]:
from keybert import KeyBERT

doc = df.text0[2000]

# doc = 'mouse erythropoietic stem cell lines function normally 100 months loss related to number of transplantations'
# doc = 'IE6 + SSL + AJAX + post form  = 404 error (?)'
# doc = 'How do I configure a Vista Ultimate (64bit) account so it can access a SMB share on OSX?'
kw_model = KeyBERT()
keywords = kw_model.extract_keywords(doc)

In [250]:
# keywords = kw_model.extract_keywords(doc, highlight=True, top_n = 5)
keywords = kw_model.extract_keywords(doc, highlight=True, top_n = len(doc.split()))

keywords

map text chinese government taipei beijing period japan seized senkaku island claim mentioned
three thing common assign

[('taipei', 0.382),
 ('senkaku', 0.3289),
 ('japan', 0.3235),
 ('map', 0.3118),
 ('island', 0.3088),
 ('beijing', 0.279),
 ('chinese', 0.2544),
 ('seized', 0.1695),
 ('claim', 0.1644),
 ('government', 0.1544),
 ('common', 0.144),
 ('mentioned', 0.1265),
 ('text', 0.116),
 ('assign', 0.089),
 ('period', 0.0456),
 ('thing', 0.0274)]

In [251]:
count = 0
for t in df.text0:
    count += len(t.split())
count / len(df.text0)

21.810857039971193

In [211]:
# จุดสังเกต keybert
# 1 ตัวอักษรพิเศษหายไป เช่น (,.?-*)
# 2 คำทั่วๆไปหายไป in on at it can how do I